<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.softmills.phlog">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGEWRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.PhLogApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.splash.view.SplashActivity" />


        <activity android:name=".ui.signup.view.SignUpActivity" />
        <activity android:name=".ui.welcome.view.WelcomeActivity" />
        <activity android:name=".ui.login.view.LoginActivity"/>
        <activity android:name=".ui.userprofile.view.UserProfileActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".ui.MainActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".ui.campaigns.inner.ui.CampaignInnerActivity"/>
        <activity android:name=".ui.signup.PickProfilePhotoActivity"/>

        <activity android:name=".ui.TestActivity" >
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".ui.uploadimage.view.ImageFilterActivity" />

        <activity android:name=".ui.uploadimage.view.PickedPhotoInfoActivity">

        </activity>
        <activity android:name=".ui.uploadimage.view.AddTagActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".ui.search.view.SearchActivity" >
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".ui.album.view.AlbumPreviewActivity" >
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.album.view.AllAlbumImgActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDryqbBvzbQcReaUwKN9dABdnyfRf0eW5A"/>
    </application>


</manifest>